name: Deploy a microservice to a k8s cluster

on:
  workflow_call:
    inputs:
      service_name:
        description: "The service name to be deployed"
        type: string
        required: true
      version:
        description: "Git reference (branch, tag) of commit to deploy"
        type: string
      environment:
        required: true
        description: "Environment (k8s namespace)"
        type: string
      deploy_dir:
        required: true
        description: "Path to the helm charts"
        type: string
      values_file:
        required: true
        description: "Path to the values file"
        type: string

jobs:
  fetch_version:
    runs-on:
      group: scw-k8s-dev
    outputs:
      version: ${{steps.fetch-version.outputs.version}}
    steps:
      - id: fetch-version
        uses: chirpwireless/reusable-github-actions/.github/actions/version-fetch@main
        with:
          git-ref: ${{ inputs.version }}
      - run: |
          echo "Deploying the version ${{steps.fetch-version.outputs.version}}" > $GITHUB_STEP_SUMMARY

  deploy:
    name: "Deploy to ${{inputs.environment}}"
    needs: fetch_version
    runs-on:
      group: ${{ (inputs.environment == 'prod' || inputs.environment == 'kiloiot-prod' || inputs.environment == 'fleet-prod') && 'scw-k8s-prod' || (inputs.environment == 'staging' || inputs.environment == 'kiloiot-staging' || inputs.environment == 'fleet-staging') && 'scw-k8s-staging' || 'scw-k8s-dev' }}
    environment:
      name: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.version }}
      - uses: azure/setup-helm@v4.2.0
      - name: Helm upgrade
        shell: sh
        run: |
          helm upgrade -i ${{ inputs.service_name }} ${{ inputs.deploy_dir }}/${{ inputs.service_name }} --namespace ${{ inputs.environment }} --wait --atomic --set image.tag=${{ needs.fetch_version.outputs.version }} -f ${{ inputs.values_file }}
